@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@500;700;900&display=swap');

:root{
    /* colors */
    --orange: #F16718;
    --light-orange:#FF9B62;
    --black: #162542;
    --gray: #7B8BAD;
    --light-gray: #E8EFF2;
    --white: #FFFFFF;

    /* font sizes */
    --large-font: 56px;
    --large-bit-font: 48px;
    --big-font: 32px;
    --middle-font: 24px;
    --small-font: 16px;

    /* line height */
    --large-lh: 56px;
    --large-bit-lh: 48px;
    --big-lh: 36px;
    --middle-lh: 28px;
    --small-lh: 26px;

    /* font weight */
    --bold-fw: 900;
    --lite-fw: 700;
    --normal-fw: 500;
}

*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Barlow';
    text-decoration: none;
    /* outline: solid red; */
}

body{
    max-width: 100vw;
    height: auto;    
}

/* MOBILE */

/* header mobile` */
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header img{
    margin-left: 6.4%;
    margin-top: 34px;
    width: 40px;
    height: 40px;
}

header a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 48px;
    background: var(--light-gray);
    color: var(--black);
    margin-right: 6.4%;
    margin-top: 34px;
    font-weight: var(--lite-fw);
    border-radius: 8px;
}

header a:hover{
    background: var(--black);
    color: var(--white);    
}

/* main mobile */

main{    
    display: flex;
    flex-direction: column;
    margin-left: 6.4%;
    margin-top: 64px;
}

.main-info{
    display: flex;
    flex-direction: column;
}

.main-info h1{
    color: var(--black);
    font-size: var(--large-bit-font);
    line-height: var(--large-bit-lh);
    font-weight: var(--bold-fw);
    text-transform: uppercase;
}

.main-info p{
    color: var(--gray);
    font-size: var(--small-font);
    line-height: var(--small-lh);
    font-weight: var(--normal-fw);
    margin-top: 32px;
}

.main-btn{
    display: flex;
    margin-top: 32px;
}

.main-btn a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 48px;
    border-radius: 8px;
    text-transform: uppercase;
    background: var(--orange);
    color: var(--white);
    font-size: var(--small-font);
    font-weight: var(--lite-fw);
}

.main-btn a:hover{
    background: var(--light-orange);
}

.main-btn span{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 32px;
    color: var(--gray);
    text-transform: uppercase;
    font-size: var(--small-font);
    font-weight: var(--normal-fw);
}

.main-img{
    background: url("./assets/mobile/image-keyboard.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 64px;
    width: 100%; /*372px; */
    height: 331px;
    border-radius: 20px 0 0 20px;
}

/* section one mobile */
.section-one{
    margin-top: 20px;
}

.sec-one-container{
    display: flex;
}


.img-one-box{
    position: relative;
}

.sec-one-img-one{
    background: url("./assets/mobile/image-phone-and-keyboard.jpg");
    background-repeat:no-repeat;
    background-size: cover;    
    Width: 129px;
    Height: 193px;
    border-radius: 20px;
    margin-left: -7vw;    
}

.img-one-bg{
    position: absolute;
    Width: 129px;
    Height: 193px;
    border-radius: 20px;
    background:var(--orange);
    opacity: 0.75;
    top: 0vh;
    left: -7vw;   
}

.sec-one-img-two{
    background: url('/assets/mobile/image-glass-and-keyboard.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
    width: 220px;
    height: 193px;
    border-radius: 20px;
    margin-left: 18.48px;
}

.sec-one-info{
    margin-top: 75px;
}

.sec-one-info h2{
    text-align: center;
    color: var(--black);
    font-size: var(--big-font);
    font-weight: var(--bold-fw);
    line-height: var(--big-lh);
    text-transform: uppercase;
}

.sec-one-info p{
    text-align: center;
    color: var(--gray);
    font-size: var(--small-font);
    font-weight: var(--normal-fw);
    line-height: var(--small-lh);
    margin-left: 6.4%;
    margin-right: 6.4%;
    margin-top: 24px;
}

/* section two */
.section-two{
    display: flex;
    flex-direction: column;
    margin-top: 111px;
}

.section-two-items{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 64px;
}

.sec-two-icons{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 65px;
    height: 65px;
    border-radius: 16px;
    background: var(--orange);
    
}

.section-two-items h3{
    color: var(--black);
    font-size: var(--middle-font);
    font-weight: var(--bold-fw);
    line-height: var(--middle-lh);
    margin-top: 48px;
    text-align: center;
}

.section-two-items p{
    color: var(--gray);
    font-size: var(--small-font);
    font-weight: var(--normal-fw);
    line-height: var(--small-lh);
    text-align: center;
    margin-top: 24px;
    margin-left: 6.4%;
    margin-right: 6.4%;
}

/* footer mobile */

footer{
    margin-top: 32px;
    margin-bottom: 50px;
}
footer p{
    text-align: center;
    color: var(--gray);
    font-size: var(--small-font);    
}

/* TABLET */
@media screen and (min-width: 768px){

    /* tablet header */
        
    header a{
        width: 175px;
        height: 58px;
    }

    /* tablet main */

    main{
        margin-top: 62px;
        flex-direction: row;
        /* outline: solid red; */
    }
    .main-info{
        width: 390px;
    }

    .main-info p{
        width: 339px;
    }

    .main-img{
        width: 42vw;
        height: 425px;
        margin-top: 0;
        background: url(./assets/tablet/image-keyboard.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        margin-left: 7px;
    }

    main-btn a{
        width: 175px;
        height: 58px;
    }

    /* section one tablet */

    .section-one{
        margin-left: 6.4%;
    }

    .sec-one-img-one{
        background: url("./assets/tablet/image-phone-and-keyboard.jpg");
        background-size: cover;
        margin-left: 0;
        width: 214px;
        height: 320px;
    }

    .img-one-bg{
        width: 214px;
        height: 320px;
        left: 0vw;
    }

    .sec-one-img-two{
        background: url("./assets/tablet/image-glass-and-keyboard.jpg");
        background-size: cover;
        width: 445px;
        height: 320px;
    }

    .sec-one-info{
        display: flex;
    }

    .sec-one-info p{
        display: flex;
        align-items: center;
        text-align: left;
        margin-left: 70px;
        margin-top: 0;
    }

    /* SECTION TWO TABLET */

    .section-two{
        flex-direction: row;
        flex-wrap: wrap;
        margin-left: 6.4%;
    }

    .section-two-items{
        flex-basis: 45%;
        align-items:flex-start;
        margin-right: 5%;
    }

    .section-two-items h3{
        text-align: left;
    }

    .section-two-items p{
        text-align: left;
        margin-left: 0;
    }

    
}