@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@500;700;900&display=swap');

:root{
    /* colors */
    --orange: #F16718;
    --light-orange:#FF9B62;
    --black: #162542;
    --gray: #7B8BAD;
    --light-gray: #E8EFF2;
    --white: #FFFFFF;

    /* font sizes */
    --large-font: 56px;
    --big-font: 32px;
    --middle-font: 24px;
    --small-font: 16px;

    /* line height */
    --large-lh: 56px;
    --big-lh: 36px;
    --middle-lh: 28px;
    --small-lh: 26px;

    /* font weight */
    --bold-fw: 900;
    --lite-fw: 700;
    --normal-fw: 500;
}

*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Barlow';
    text-decoration: none;
}

body{
    max-width: 100vw;
    height: auto;    
}

/* MOBILE */

/* header mobile` */
header{
    display: flex;
    justify-content: space-between;
}

header img{
    margin-left: 6.4%;
    margin-top: 34px;
}

header a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 48px;
    background: var(--light-gray);
    color: var(--black);
    margin-right: 6.4%;
    margin-top: 34px;
    font-weight: var(--lite-fw);
    border-radius: 8px;
}

header a:hover{
    background: var(--black);
    color: var(--white);    
}

/* main mobile */

main{
    display: flex;
}

